@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-main: #F4B1E5;
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-success-second: rgba(27, 156, 133, 0.4);
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #e6e6eb;
    --color-second-background: #dfdfe7;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #0e0f11;
    --color-second-background: #14161a;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth !important;
    font-family: 'Poppins', sans-serif;
    appearance: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color-background);
}

.header {
    position: fixed;
    top: 2rem;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all ease 300ms;
}



.theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 7.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-2);
    margin-left: 4rem;
    z-index: 0;
}

.theme-toggler span {
    color: var(--color-dark);
    font-size: 2.5rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler span.active {
    background: var(--color-main);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
    width: 50%;
    height: 100%;
}

.title {
    color: var(--color-dark);
}

.title span {
    color: var(--color-main);
}

section.input-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 9vh;
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 10rem;
}

.add-product {
    width: 80%;
    height: 4rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    padding-left: 10px;
}

.add-product::placeholder {
    padding-left: 1rem;
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 5rem;
    border-radius: var(--border-radius-2);
    background: var(--color-main);
    padding: 1rem 1rem;
    margin-left: auto;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    text-transform: none;
}

.btn-add i {
    font-size: 2.5rem;
    color: var(--color-dark);
}

.btn-deleteAll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 5rem;
    border-radius: var(--border-radius-2);
    background: var(--color-main);
    padding: 1rem 1rem;
    margin-left: auto;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    text-transform: none;
}

.btn-deleteAll i {
    font-size: 2.5rem;
    color: var(--color-dark);
}

.text-add {
    display: none;
}

.message {
    display: none;
    font-size: 1.7rem;
    color: var(--color-dark);
    margin-top: 2rem;
    margin-left: 9%;
    margin-right: 9%;
}

hr {
    background: var(--color-main);
    height: 1px;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 2rem;
}

section.products{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 9vh;
  padding-left: 9%;
  padding-right: 9%;
}

.products p{
    margin-bottom: auto;
    font-size: 1.7rem;
    color: var(--color-dark);
    margin-top: 2rem;
}

.products span {
    color: var(--color-main);
}

.list-products {
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    flex-direction: column; /* Garante que cada produto fique em uma linha */
    gap: 10px; /* Espaçamento entre os itens */
}

.produto {
    display: flex;
    align-items: center;
    height: 6rem;
    font-size: 1.7rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
}

.verifica-tarefa {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-dark);
    position: relative;
    margin-left: 2rem;
  }

  .verifica-tarefa:checked {
    background-color: var(--color-main);
    border: var(--color-main);
  }

  .completed {
    text-decoration: line-through;
  }

  .produto span {
    margin-left: 2rem;
    color: var(--color-dark);
  }

  .produto button {
    display: flex;
    justify-content: center;
  }

button.editar,
button.remover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 5rem;
    border-radius: var(--border-radius-1);
    background: var(--color-main);
    padding: 1rem 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.editar {
    margin-left: auto;
}

.remover {
    margin-left: 0.4rem;
    margin-right: 1.5rem
}

button.editar i,
button.remover i {
    font-size: 2rem;
    color: var(--color-dark);
}

@media(max-width: 414px) {
    .add-product {
        width: 80%;
        margin-top: 2rem;
      }

      .btn-add {
        margin-top: 2rem;
      }
}
